@model LoginVM

@{
    ViewData["Title"] = "Login";
    string error_poruka = (string)TempData["error_poruka"];
    Layout = "_LayoutAnonim";
}

<head>

    <link href="~/css/loginForm.css" rel="stylesheet" />

    <script src="~/lib/jquery/dist/jquery.js"></script>
</head>


<div class="content">


    @using (Html.BeginForm("Provjera", "Login"))
    {

        <div class="login-box">
            <h1>Prijava</h1>
            <div class="textbox">
                <i class="fas fa-user"></i>
                <input type="text" id="username" name="username" placeholder="Korisničko ime" required="" oninvalid="this.setCustomValidity('Obavezno polje')"
                       oninput="setCustomValidity('')" />
                <span asp-validation-for="Username" class="text-danger"></span>

            </div>

            <div class="textbox">
                <i class="fas fa-lock"></i>
                <input type="password" id="password" name="password" placeholder="Lozinka" required="" oninvalid="this.setCustomValidity('Obavezno polje')"
                       oninput="setCustomValidity('')" />
                <span asp-validation-for="Password" class="text-danger"></span>

            </div>


            <br /><br />
            <input type="submit" class="btn" value="Prijavi se">
            <br /><br />

            @if (error_poruka != null)
            {
                <br />
                <div class="alert alert-danger">
                    @error_poruka
                </div>
            }

            <div class="textbox">
                <span>
                    <a class="btn" asp-controller="Registracija" asp-action="Index">Registruj se</a>
                </span>
            </div>
            <br />
        </div>
    }
    <div>

    </div>


</div>


