@model GradDodajVM
@{
    ViewData["Title"] = "Dodaj";
}

<head>
    <link rel="stylesheet" href="~/css/DodajForm.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>

<body style="background-color:whitesmoke">
    <h3 class="naslov">Dodaj grad</h3>
    <br />
    <br />
    <div class="okvir">
        <form asp-action="Snimi" method="post">
            <input type="hidden" asp-for="Grad.GradID" />

            <div class="form-group">
                <label class="label">Naziv grada</label>
                <input asp-for="Grad.Naziv" id="input" class="form-control" required="" oninvalid="this.setCustomValidity('Naziv je obavezno polje')"
                       oninput="setCustomValidity('')" />
                <span asp-validation-for="Grad.Naziv" class="text-danger" style="margin-left:10%"></span>
            </div>

            <input type="submit" value="Snimi" class="btn btn-outline-danger" id="snimi" />
        </form>
    </div>
</body>