.footer {
    background-color: #343a40;
    color: white;
    padding: 15px;
    color: white;
    border-top: 2px solid #007bff;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
